.icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 30px;
}
.icon--green {
  background: #42b883;
}
.icon--blue {
  background: #64c4ed;
}
.icon--pink {
  background: #ffbbcc;
}
.icon--grey {
  background-color: #c9d1d3;
}
.icon--lime {
  background-color: #b6e6bd;
}
.icon--purple {
  background-color: #c355f5;
}
.icon--black {
  background-color: #08001a;
}
.icon--red {
  background-color: #ff6464;
}