.list {
  margin-bottom: 30px;
  li {
    display: flex;
    align-items: center;
    padding: 10px 10px;
    cursor: pointer;
    &.active {
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
      border-radius: 4px;
      background: #ffffff;
    }
    i {
      display: inline-flex;
      margin-right: 8px;
      svg {
        & path {
          fill: grey;
        }
      }
    }
    .icon {
      width: 10px;
      height: 10px;
      border-radius: 30px;
      position: relative;
      left: 5px;
      &--green {
        background: #42b883;
      }
      &--blue {
        background: #64C4ED;
      }
      &--pink {
        background: #ffbbcc;
      }
    }
  }
}
